alabaster==0.7.12
asgiref==3.5.2
astroid==2.0.4
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.7
Babel==2.9.1
beautifulsoup4==4.11.1
bs4==0.0.1
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
chess==1.3.3
colorama==0.4.4
cycler==0.10.0
DateTime==4.3
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.0.4
django-appconf==1.0.4
django-autofixture==0.12.1
django-bootstrap3==15.0.0
django-crispy-forms==1.7.0
django-extensions==3.1.3
django-grappelli==2.15.1
django-import-export==2.8.0
django-paypal==1.1.1
django-simple-history @ file:///C:/Users/Δενθρ/Desktop/Market-main/django-simple-history-3.1.1.tar.gz
django-taggit==0.17.3
django-user-accounts==3.0.4
djangorestframework==3.13.1
docutils==0.17.1
et-xmlfile==1.1.0
future==0.18.2
idna==2.10
iniconfig==1.1.1
isort==4.3.4
Jinja2==3.0.1
kiwisolver==1.3.1
lazy-object-proxy==1.3.1
MarkupPy==1.14
MarkupSafe==2.0.1
matplotlib==3.3.3
mccabe==0.6.1
numpy==1.19.4
odfpy==1.4.1
openpyxl==3.0.10
packaging==20.8
pefile==2019.4.18
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
py2exe==0.10.1.0
pycodestyle==2.7.0
pygame==2.0.0
Pygments==2.9.0
pylint==2.1.1
pyparsing==2.4.7
pyperclip==1.8.1
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
PySimpleGUI==4.33.0
pytest==6.2.1
python-dateutil==2.8.1
pytz==2022.1
PyYAML==6.0
requests==2.25.1
six==1.11.0
snowballstemmer==2.1.0
soupsieve==2.3.2.post1
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
sqlparse==0.4.2
tablib==3.2.1
toml==0.10.2
tqdm==4.56.0
typed-ast==1.4.3
tzdata==2022.1
urllib3==1.26.5
wrapt==1.10.11
xlrd==2.0.1
xlwt==1.3.0
zope.interface==5.4.0
